# Dependencies
node_modules

# Obsidian plugin data
data.json

# macOS
.DS_Store

# Source code
version-bump.mjs
.npmrc
.editorconfig

# Build artifacts
main.js
styles.css
*.map

# IDE
.vscode
.idea
*.iml

# AI / Dev helpers
CLUADE.md